.find.swiper-container {
    width: 92%;
    height: 400px;
    position: relative;
}
/* .swiper-slide {
    height: 400px;
} */
/* .swiper-container img {
    top: 3px;
    margin-left: 4.5%;
    position: absolute;
    border-radius: 5px;
} */

.swiper-pagination-bullet-active {
    background-color: red
}