

.gk-foot {
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1;
  background-color: rgb(254, 254, 254);
  border-top: 1px solid #dddddd; 
}

.gk-foot--item {
  flex: 1;
  text-align: center;
  padding: 2px;  
  font-size: 0;
  text-decoration: none;
  color: #a2a2a2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gk-foot--item > span {
  display: inline-block;
  position: relative;
  font-size: 24px; 
}

.gk-foot--icon {
  display: inline-block;
  width: 30px;
  height: 34px;
  overflow: hidden; 
}

.gk-foot--label {
  font-size: 12px;
  text-align: center;
  line-height: 8px; 
  margin-top: .5vh;  
}  

.selected>span { 
  color: #fa8919;
  margin-bottom: 2px;
  font-size: 28px;
}