.scroll-container { 
    padding-top: 5px; 
    background-color: #fff;  
    font-family: "PingFang SC", "Lantinghei SC", "Microsoft Yahei", "Hiragino Sans GB", "Microsoft Sans Serif", "WenQuanYi Micro Hei", Helvetica, sans-serif;
}
.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.line{
    height: 1px;
    border-top: 1px solid #ddd;
    text-align: center;
}

.ad1 {
    display: flex;
    margin-top: 15px;
    margin-bottom: 15px;
    justify-content: center;
    align-items: center;
}

input:focus{
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)
}

.speech {
    width: 92%; 
    margin: 1px auto;
    border-radius: 8px;
    margin-top: -5vh;
    padding: 2vw;
    box-shadow: 0px 0px 5px rgb(230, 230, 230);
}

.speech-title {
    display: flex;
    position: relative;
}
.speech-title .title-img {
    background-color: #f5f5f5; 
}
.speech-author {
    margin: 2px 30px;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.speech-svg {
    position: absolute;
    right: 0;
}
.speech-content {
    display: flex;
}

.speech-content .iconfont {
    margin-left: 10px;
}

.speech-content .speech-news {
    margin-left: 5px;
    font-size: 14px;
}

.gkLive {
    margin: 15px auto;
    /* background-color: #f5f5f5; */
    width: 92%;
}

.live-title {
    position: relative;
}
.live-title .iconfont {
    color: rgb(255,211,174);
    margin-left: -4px
}


.live-title .live-title-tail {
    font-size: 12px;
    position: absolute;
    right: 0;
    padding-top: 2px;
}

.live-contents {
    margin-top: 10px;
    display: flex;
    position: relative;
}
.live-contents-left .live-time{
    font-size: 12px
}

.live-contents-left .live-contents-detail {
    font-size: 14px;
}

.live-contents-left .live-teacher {
    font-size: 10px;
    margin-top: 16px;
    padding-top: 16px;
    font-family: "PingFang SC", "Lantinghei SC", "Microsoft Yahei", "Hiragino Sans GB", "Microsoft Sans Serif", "WenQuanYi Micro Hei", Helvetica, sans-serif;
}

.live-contents-right .live-img {
    width: 70px;
    position: absolute;
    right: 0px;
}

.gkshop {
    margin: 15px auto; 
    width: 92%;
}

.gkshop-title {
    position: relative;
}
.gkshop-title .iconfont {
    color: rgb(255,211,174);
    margin-left: -4px
}


.gkshop-title .gkshop-title-tail {
    font-size: 12px;
    position: absolute;
    right: 0;
    padding-top: 2px;
}

.gkshop .gkshop-contents{
    display: flex;
    justify-content: space-around;
    margin-top: 18px;
}

.gku {
    margin: 15px auto;
    /* background-color: #f5f5f5; */
    width: 92%;
}

.gku .gku-contents{
    display: flex;
    justify-content: space-around;
    margin-top: 18px;
}

.gku-title {
    position: relative;
}
.gku-title .iconfont {
    color: rgb(255,211,174);
    margin-left: -4px
}


.gku-title .gku-title-tail {
    font-size: 12px;
    position: absolute;
    right: 0;
    padding-top: 2px;
}

.gku .gku-contents{
    display: flex;
    justify-content: space-around;
    flex: 1;
    flex-wrap: wrap;
}

.cls {
    margin: 15px auto;
    /* background-color: #f5f5f5; */
    width: 92%;
}

.cls .cls-contents{
    display: flex;
    justify-content: space-around;
    margin-top: 18px;
}

.cls-title {
    position: relative;
}
.cls-title .iconfont {
    color: rgb(255,211,174);
    margin-left: -4px
}


.cls-title .cls-title-tail {
    font-size: 12px;
    position: absolute;
    right: 0;
    padding-top: 2px;
}

.cls .cls-contents{
    display: flex;
    justify-content: space-around;
    flex: 1;
    flex-wrap: wrap;
}

.buttonVIP {
    text-align: center;
    margin: 4px 12px;
    background-color: rgb(251,230,192);
    margin-bottom: 100px;
    border-radius: 16px;
    height: 30px;
    padding-top: 8px; 
}
  