h2 {
    position: relative;
    margin-top: 10px;
    margin-bottom: 13px;
    font-size: 16px;
    font-weight: 600;
    color: #404040;
    font-family: PingFang SC, Helvetica Neue, Verdana, Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans-serif;
    line-height: 1.35;
}
ul {
    list-style: none;
}

ul li {
    position: relative;
    margin-left: 14px;
    line-height: 28px;
    font-size: 15px;
    font-weight: 400;
    color: #353535;
    word-break: break-word;
    white-space: normal;
}