.study-contents { 
  font-family: PingFang SC, Lantinghei SC, Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, Helvetica, sans-serif;
    margin-top: 10px;
    padding-top: 10px;
    background-color:white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px; 
    overflow: scroll;
}

.study-contents-title {
    padding-left: 12px;
    font-size: 17px;
}

.study-contents .type {
    padding-left: 12px;
    padding-top: 12px;
}

.study-contents .practice {
    padding-top: 12px;
}

.study-contents .type2 {
    padding-left: 12px;
    padding-top: 30px;
}

.study-contents .type3 {
    padding-left: 12px;
    padding-top: 12px;
}

.perclass {
    margin-bottom: 50px;
}

